<!DOCTYPE html>
<html>
<head>
  <title>Tetris in VUE</title>
  <meta charset="utf-8" />
  <style>
    /*.used {
      background-color: darkblue;
    }

    .row {
      background-color: white;font-size:0px
    }*/

    #app div div {
      margin: 0px;
      border: 1px solid black;
      display: inline-block;
      height: 30px;
      width: 30px;
    }
  </style> 
</head>
<body>
  <h1>Tetris in Vue.js  </h1> 
  <div id="app" style="float:left">
     <img id="gameOver" src="http://vignette4.wikia.nocookie.net/evil/images/5/52/Game_Over.jpg/revision/latest?cb=20151207180809" height="200" width="500" style="display:none;" />
    <button v-on:click="start">Start</button>
    <button v-on:click="toogle">{{paused?"Paused":"Running"}}</button>
    Score: <span>{{score}} </span>   Rows: <span>{{rowsClear}}</span>
    <div v-for="(row, ri) in board" class="row">
      <!--{{ri==0 && ci!=0?ci:null}}{{ci==0?ri:null}} why?-->
      <div v-for="(cell,ci) in row" v-bind:class="{used:cell.used>0}" v-bind:style="{backgroundColor:cell.color}"></div>
    </div>
    <pre>{{tetromino||JSON.stringify(tetromino)}} </pre>
  </div>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.6/vue.js"></script>
  <script src="Tetris.js"></script>
  
</body>
</html>
