<!DOCTYPE html>
<html>
<head>
  <title>Tetris in VUE</title>
  <meta charset="utf-8" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.6/vue.js"></script>
  <style>
    /*.used {
      background-color: darkblue;
    }

    .row {
      background-color: white;font-size:0px
    }*/

    #app div div {
      margin: 0px;
      border: 1px solid black;
      display: inline-block;
      height: 30px;
      width: 30px;
    }
  </style> 
</head>
<body>
  <h1> My Tetris  </h1> 
  <div id="app" style="float:left">
     <img id="gameOver" src="http://vignette4.wikia.nocookie.net/evil/images/5/52/Game_Over.jpg/revision/latest?cb=20151207180809" height="200" width="500" style="display:none;" />
    <button v-on:click="start">Start</button>
    <button v-on:click="toogle">{{paused?"Paused":"Running"}}</button>
    Score: <span>{{score}} </span>   Rows: <span>{{rowsClear}}</span>
    <div v-for="(row, ri) in board" class="row">
      <!--{{ri==0 && ci!=0?ci:null}}{{ci==0?ri:null}} why?-->
      <div v-for="(cell,ci) in row" v-bind:class="{used:cell.used>0}" v-bind:style="{backgroundColor:cell.color}"></div>
    </div>
    <span>{{piece||JSON.stringify(piece)}} </span>
  </div>
  <script>

    var totalBlocks = 150;
    var totalRs = totalBlocks/10;
    var a100 = new Array(totalBlocks).fill().map(i=>({ used: 0,color:'white' }));
    for (var aboard = [], i = 0; i < totalRs; i++)
    aboard.push(a100.slice(i * 10, i * 10 + 10));
  
    var Piece = { 
        shape: function() { 

      return this.masks[this.clock]
    }, 

    IOTJLSZFCZW: [ { name:'I', masks : [0x4444, 0x0f00, 0x4444, 0x0f00], clock : 0, color : 'aqua'   , r : -4, c: 4, rLast: null, cLast : null },
               { name:'O', masks : [0x0660, 0x0660, 0x0660, 0x0660], clock : 0, color : 'yellow'     , r : -4, c: 4, rLast: null, cLast : null }, 
               { name:'T', masks : [0x0E40, 0x4C40, 0x4E00, 0x4640], clock : 0, color : 'purple'     , r : -4, c: 4, rLast: null, cLast : null },
               { name:'J', masks : [0x2260, 0x08e0, 0x6440, 0x0710], clock : 0, color : 'blue'       , r : -4, c: 4, rLast: null, cLast : null },
               { name:'L', masks : [0x4460, 0x0e80, 0x6220, 0x02e0], clock : 0, color : 'orange'     , r : -4, c: 4, rLast: null, cLast : null },
               { name:'S', masks : [0x0360, 0x2310, 0x0360, 0x2310], clock : 0, color : 'lawngreen'  , r : -4, c: 4, rLast: null, cLast : null },
               { name:'Z', masks : [0x0c60, 0x2640, 0x0c60, 0x2640], clock : 0, color : 'red'        , r : -4, c: 4, rLast: null, cLast : null },
               { name:'F', masks : [0x4660, 0x0760, 0x6620, 0x0370], clock : 0, color : 'green'      , r : -4, c: 4, rLast: null, cLast : null },
               { name:'C', masks : [0x4e40, 0x4e40, 0x4e40, 0x4e40], clock : 0, color : 'lightblue'  , r : -4, c: 4, rLast: null, cLast : null },
               { name:'Z', masks : [0x8421, 0x8421, 0x8421, 0x8421], clock : 0, color : 'hotpink'    , r : -4, c: 4, rLast: null, cLast : null },
               { name:'W', masks : [0xc620, 0x26c0, 0x8c60, 0x6c80], clock : 0, color : 'darkred', r : -4, c: 4, rLast: null, cLast : null },],

    create: function(){
        
      var r = Math.random() * 11;
      var values = this.IOTJLSZFCZW[Math.floor(r)];
      console.log(r);
      console.log(values);
      var instance = Object.create(this);
      Object.keys(values).forEach(function (key) {
        instance[key]  = values[key];
      });
      console.log(instance)
      return instance;
    }
  };

  var app = new Vue({
    el: "#app",
    data: {
      intervalID: 0,
      intervalBase: 50,
      intervalFactor:10,
      rowsClear:0,

      piece: Piece.create(),//necessary?  //new T(),
      board: aboard,
      rLast: 0,
      cLast: 0,
      score: 0,
      paused:false
    },

    created: function () {
      window.addEventListener('keydown', this.keyHandle)
    },

    computed: {
      intervalS: function(){return this.intervalBase/1000 +'s'},
      gameOver: function () { return (!this.canFall) && this.piece.r < 0; },
      canFall: function ()  {
        var shape = this.piece.shape();
        var {r,c} = this.piece;
        var space = this.sliceToInt(r+1,c, 1);
        var OK = (shape & space) ==0
        return OK;
      },
      canLeft: function ()  {
        var shape = this.piece.shape();
        var {r,c} = this.piece;
        var space = this.sliceToInt(r,c-1, 1);
        var OK = (shape & space) ==0
        return OK;
      },
      canRight: function () {
        var shape = this.piece.shape();
        var {r,c} = this.piece;
        var space = this.sliceToInt(r,c+1, 1);
        var OK = (shape & space) ==0
        return OK;
      },
    },
    methods: {
        checkRowFull: function () {
        var fulls = this.board.filter(r=> r.every(i=>i.used > 0));

        fulls.forEach(r=> {
            this.score += 10;
            this.rowsClear += 1;
          this.intervalFactor = this.intervalFactor - 0.25;
          console.log(this.intervalFactor)
          this.board.splice(this.board.indexOf(r), 1);
          this.board.unshift(new Array(10).fill().map(i=>({ used: 0 })));
        });
        },

        add: function(a,b){
            return a + b;
        },

      sliceToInt: function (r=0, c=0, level=0){//, rs=4, cs=4)
        //111111111111 is a wall,
        //build walls around board
        //so no piece can move out of board

        var rtn = new Array(4).fill();
        for(let i = 0;i < 4; i++){
          var rowString = (i+r) >totalRs -1?'1111111111': (i+r)<0?'0000000000':
            this.board[i+r].map(c=> c.used > level ? 1:0).join(''); 
                //&& (c.usedBy !== this.piece || exceptSelf === false) 
          var s18 = '1111' + rowString +'1111' //18
          rtn[i] = s18.slice(c+4,c+4+4).split('');
        }

        var s = rtn.map(i=>i.join('')).join('');
        return parseInt(s,2);
      },

      fall:function(){
        this.undraw();
        this.piece.r = this.piece.r + 1;
        this.draw();
      },
      toogle:function(){
        this.paused = !this.paused;
      },

      start: function () {
        aboard.forEach(r=>r.forEach(i=>i.used = 0));
        if (this.intervalID > 0) clearInterval(this.intervalID);
        var that = this;
 
        let i=1;

        this.intervalID = setInterval(function () {
          if(i++ % that.intervalFactor != 0) return;  

          if(that.paused) return;

          if (that.gameOver) {
              console.log("Game Over!");
              //location.reload();
            clearInterval(that.intervalID);
            return;
          };

          if (that.canFall)    that.fall();
          else {
            that.freezePiece();
            that.piece = Piece.create(); //new T();
            that.checkRowFull();
            that.score += 7;
          }
        }, that.intervalBase)
      },

      draw: function () {
        var {r, c, rLast, cLast, masks } = this.piece;
        this.piece.rLast = r;
        this.piece.cLast = c;
        this.setUsed(r,c,1);
      },
      undraw: function () {
        var {r,c,rLast, cLast, masks} = this.piece;
        if (rLast == null) return;
        this.setUsed(rLast, cLast, 0);
      },

      freezePiece: function(){
        var {r,c,rLast, cLast, masks} = this.piece;
        this.setUsed(rLast,cLast,2);
      },
      setUsed: function (r,c, value) {
        //other values are not touched
        //shared by draw, setUsed(3,2,1)
        //and undraw      setUsed(3,2,0)
        var maskNumber = this.piece.shape();
        var binary16 = ('0000000000000000' +maskNumber.toString(2) ).slice(-16).split('');
        var a44 = chunkArray(binary16,4);
        for(i = 0; i<4;i++){
          var r2 = r+i;
          if(r2 < 0 || r2 >totalRs -1) continue;
          for(j =0;j<4;j++){
            var c2 = c+j;
            if(c2<0 || c2>9) continue;
            if(a44[i][j] == 1){
              this.board[r2][c2].used = value; //other values are not touched;
             
              this.board[r2][c2].color= value==0?'white': this.piece.color;            
            }
          }
        }
      },

      keyHandle: function (e) {
        switch (e.key) {
          case "ArrowUp":
            this.undraw();
            this.piece.clock  = (this.piece.clock +1) %4;
            this.draw();
            break;
          case "ArrowLeft":
            if (!this.canLeft) return;
            this.piece.c -= 1;
            this.undraw();
            this.draw();
            break;
          case "ArrowRight":
            if (!this.canRight) return;
            this.piece.c += 1;
            this.undraw();
            this.draw();
            break;
          case "ArrowDown":
            if (!this.canFall) return;
            this.piece.r += 1;
            this.undraw();
            this.draw();
            break;
          default:
            console.log(e.key);
            break;
        }
      }
    },
  });

  function chunkArray(array,size=1){
    var clone = array.slice(0);
    var rtn = [];
    while (clone.length>0)
      rtn.push(clone.splice(0,size));
    return rtn;
  };
  </script>
</body>
</html>
